body {
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body:hover {
  background: white;
  transition: 2s all ease-in;
}

.heart {
  position: relative;
  height: 100px;
  width: 100px;
  background: red;
  transform: rotate(-45deg);
}

.heart::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: red;
  top: -50%;
  border-radius: 50px;
}

.heart::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: red;
  right: -50%;
  border-radius: 50px;
}
