*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.flex-container {
  height: 800px;
  width: 100%;
  background-color: red;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  /* flex-flow: row wrap; */
  overflow: scroll;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.flex-container > div {
  width: 180px;
  background-color: blue;
  margin: 10px;
  height: 100px;
  text-align: center;
  line-height: 1.2rem;
  font-size: 2rem;
  padding: 1rem;
}

.flex-container > div:first-child {
  height: 100px;
}
.flex-container > div:last-child {
  height: 50px;
}
